app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

spring:
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT:6379}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
