# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - projectsugarglider-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3BD712B8061C40CD8038BC6186F2D829 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_9D20D9054C7E4E68941E67595ED92442 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3BD712B8061C40CD8038BC6186F2D829 }}/kts5927/projectsugarglider:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2B5DC7B6B5CC44518607FF1B8A2C5A94 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5536F6B326D34D309E5E6BE4535E78FE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_25C0896B39B040358BD0B0365A07098F }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'projectsugarglider-backend'
          slot-name: 'Production'
          images: 'docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3BD712B8061C40CD8038BC6186F2D829 }}/kts5927/projectsugarglider:${{ github.sha }}'
          